{{ define "header" }}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejemplos Webpay REST</title>
</head>
<body>
    <header><h1>Transbank SDK Go</h1></header>
    <main>
{{ end }}
{{ define "footer" }}
    </main>
    <footer><p>Powered by <a href="https://www.goravel.dev/">Goravel v1.16.6</a></p></footer>
</body>
</html>
{{ end }}