{{ define "webpayplus/status.tmpl" }}
    {{ template "header" . }}
    <h2>{{ .title }}</h2>
    <h3>Request</h3>
    <ul>
        {{ range $key, $value := .request }}
            <li>{{ $key }}: {{ $value }}</li>
        {{ end }}
    </ul>
    <h3>Response</h3>
    <ul>
        <li>Vci: {{ .response.Vci }}</li>
        <li>Amount: {{ .response.Amount }}</li>
        <li>Status: {{ .response.Status }}</li>
        <li>BuyOrder: {{ .response.BuyOrder }}</li>
        <li>SessionId: {{ .response.SessionId }}</li>
        <li>CardDetails: {{ .response.CardDetail }}</li>
        <li>AccountingDate: {{ .response.AccountingDate }}</li>
        <li>TransactionDate: {{ .response.TransactionDate }}</li>
        <li>AuthorizationCode: {{ .response.AuthorizationCode }}</li>
        <li>PaymentTypeCode: {{ .response.PaymentTypeCode }}</li>
        <li>ResponseCode: {{ .response.ResponseCode }}</li>
        <li>InstallmentsAmount: {{ .response.InstallmentsAmount }}</li>
        <li>InstallmentsNumber: {{ .response.InstallmentsNumber }}</li>
        <li>Balance: {{ .response.Balance }}</li>
    </ul>
    {{ template "footer" . }}
{{ end }}